
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-home-1:before { content: '\e806'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
